<div style="background-color: white; margin: 10px; padding: 1px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px;">
	<div style="">
		<div class="place-card place-card-large">
			<div class="place-desc-large">
				<div class="place-name" jsan="7.place-name">LinguaPlay Sydney</div>
				<div class="address" jsan="7.address">10 Manning St, North Balgowlah NSW 2093</div>
			</div>
			<div class="navigate">
				<div jsaction="placeCard.directions" class="navigate">
					<a target="_blank" href="https://maps.google.com/maps?ll=-33.782797,151.252021&amp;z=16&amp;t=m&amp;hl=en-US&amp;gl=AU&amp;mapclient=embed&amp;daddr=LinguaPlay%20Sydney%2010%20Manning%20St%20North%20Balgowlah%20NSW%202093@-33.7827966,151.2473538"
					 class="navigate-link">
						<div class="icon navigate-icon"></div>
						<div class="navigate-text">Directions</div>
					</a>
				</div>
				<div class="tooltip-anchor">
					<div class="tooltip-tip-outer"></div>
					<div class="tooltip-tip-inner"></div>
					<div class="tooltip-content">
						<div >Get directions to this location on Google Maps.</div>
					</div>
				</div>
			</div>
			<div class="navigate-separator"> </div>
			<div class="star-entity">
				<div jsaction="placeCard.star" class="star-button">
					<div class="star-entity-icon-large">
						<div class="icon is-starred-large" jsan="7.icon,7.is-starred-large"> </div>
						<div class="icon logged-out-star" style="display:none"> </div>
					</div>
					<div class="star-entity-text" jsan="7.star-entity-text,t-PmAZCbgKmDw">Saved</div>
					<div class="star-entity-text hidden" jsan="7.star-entity-text,7.hidden,t-bbrD6GAQ-ds">Save</div>
				</div>
				<div class="tooltip-anchor" style="display:none">
					<div class="tooltip-tip-outer"></div>
					<div class="tooltip-tip-inner"></div>
					<div class="tooltip-content">
						<div ></div>
					</div>
				</div>
			</div>
			<div class="review-box">
				<div class="review-number" jsan="7.review-number">5.0</div>
				<div jsinstance="0" class="icon rating-star rating-full-star" jsan="7.icon,7.rating-star,7.rating-full-star"></div>
				<div jsinstance="1" class="icon rating-star rating-full-star" jsan="7.icon,7.rating-star,7.rating-full-star"></div>
				<div jsinstance="2" class="icon rating-star rating-full-star" jsan="7.icon,7.rating-star,7.rating-full-star"></div>
				<div jsinstance="3" class="icon rating-star rating-full-star" jsan="7.icon,7.rating-star,7.rating-full-star"></div>
				<div jsinstance="*4" class="icon rating-star rating-full-star" jsan="7.icon,7.rating-star,7.rating-full-star"></div>
				<a target="_blank" href="http://www.google.com.au/search?q=LinguaPlay+Sydney,+10+Manning+St,+North+Balgowlah+NSW+2093&amp;ludocid=12234083959893161421#lrd=0x6b12abce44a7f5bd:0xa9c8328ae5bc75cd,1"
				 jsaction="mouseup:placeCard.reviews" class="review-box-link" jsan="7.review-box-link,8.href,0.target,22.jsaction">5 reviews</a>
			</div>
			<div class="saved-from-source-link" style="display:none"></div>
			<div class="bottom-actions">
				<div class="google-maps-link">
					<a target="_blank" href="https://maps.google.com/maps?ll=-33.782797,151.252021&amp;z=16&amp;t=m&amp;hl=en-US&amp;gl=AU&amp;mapclient=embed&amp;cid=12234083959893161421"
					 jsaction="mouseup:placeCard.largerMap">View larger map</a>
				</div>
				<a target="_blank" class="send-to-device-button" style="display:none"></a>
			</div>
		</div>
	</div>
</div>